.Layout {
  .nav {
    li {
      position: relative;
    }
    .item {
      .count {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: red;
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 100px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .number {
          font-size: 1.2rem !important;
        }
      }
    }
  }
  a {
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  a:hover, a.active{
    color:#cd040b;
    border-bottom: 3px solid #cd040b;
  }
  .navbar-nav {
    position: relative;
    margin-bottom: 1.5rem;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
  }
}
