.Layout {
  .alarm-group, .time-group, .radio-group {
    width: 50%;
    height: 6rem;
    margin-bottom: 1rem;
    margin-top:1rem;
  }
  .radio-group {
    .callout {
      margin-top: 0.1rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
  .submit-button{
    margin-top: 1rem;
    background-color:lightblue;
    border-color:lightblue;
    color: white;
    padding: 5px 20px;
    border: 2px solid lightblue;
    font-size: 16px;
  }
}