.Layout {
  .home-view {
    display: flex;
  }
  .content {
    background-color: #E4E5E3;
    .menu {
      display: flex;
      justify-content: center;
      height: 6rem;
    }
  }
  .container {
    .grid {
      margin-top: 4rem;
    }
  }
  * {
    font-size: 1.5rem !important;
  }
  .image-container {
    background-color: white;
  }
  .image-header {
    height: 5rem;
  }
 .time-group, .radio-group {
    height: 6rem;
    margin-bottom: 1rem;
    margin-top:1rem;
  }
  .react-grid-Header {
    text-align: center;
  }
  .radio-group {
    .callout {
      margin-top: 0.1rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
  .submit-button{
    background-color:lightblue;
    border-color:lightblue;
    color: white;
    padding: 5px 20px;
    border: 2px solid lightblue;
    font-size: 16px;
  }
  .inner-container {
    .alarm-label {
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      div {
        display: inline-block;
      }
    }
    .label {
      color: black;
    }
    .value {
      width: 20rem;
      border: 1px solid gray;
      padding-left: 2rem;
      padding-top: 0.5rem;
      height: 3rem;
      margin-top: 0rem;
    }
    .tabs {
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: white;
      padding-top: 1rem;
      border-radius: 0.5rem;
      .react-tabs {
        height: 80rem;
      }
    }
  }
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    .name {
      font-weight: bold;
      flex: 2;
    }
    .value {
      flex: 1;
    }
  }
}
div[data-modal="true"] {
  position: absolute !important;
}
a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
a:hover{
  color:#cd040b;
  border-bottom: 3px solid #cd040b;
}
.navbar-nav {
  position: relative;
  margin-bottom: 1.5rem;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}